/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2022, 12:12:18 PM
    Author     : By Van Lung, IDStudent: SE140193
*/
@use postcss-preset-env {
  stage: 0;
}

/* helpers/align.css */

.align {
  display: grid;
  place-items: center;
      

}

/* helpers/grid.css */

:root {
  --gridMaxWidth: 20rem;
  --gridWidth: 90%;
}

.grid {
    
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}

/* layout/base.css */

:root {
  --bodyBackgroundColor: #61646d;
  --bodyColor: #000;
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: .875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
}

body {
    
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

/* modules/button.css */

.button {
  background-color: var(--searchInputButtonBackgroundColor);
  color: var(--searchInputButtonColor);
  font-weight: var(--searchInputButtonFontWeight);
  padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.button:focus,
.button:hover {
  background-color: var(--searchInputButtonHoverBackgroundColor);
}

/* modules/form.css */

::placeholder {
  color: #42454e;
}

input {
  appearance: none;
  border: none;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="submit"] {
    
  cursor: pointer;
}

.form__field {
    
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form__input {
  flex-grow: 1;
  color:#ffb30f; 
}

/* modules/search.css */

:root {
  --searchBackgroundColor: #2f8d01;
  --searchBorderRadius: .125rem;
  --searchFontSize: .75rem;
  --searchPadding: .5rem;

  --searchInputBorderRadius: .125rem;

  --searchInputSearchBackgroundColor: #fff;
  --searchInputSearchColor:#ffb30f ;
  --searchInputSearchPaddingHorizontal: .5rem;
  --searchInputSearchPaddingVertical: .375rem;

  --searchInputButtonBackgroundColor: #f60;
  --searchInputButtonColor: #fff;
  --searchInputButtonFontWeight: bold;
  --searchInputButtonPaddingHorizontal: .625rem;
  --searchInputButtonPaddingVertical: .375rem;
  --searchInputButtonHoverBackgroundColor: #f60;
}

.search {
    max-width: 1110px;
    margin-left: 8rem;
    margin-bottom: 0.5rem;
  background-color: var(--searchBackgroundColor);
  border-radius: var(--searchBorderRadius);
  font-size: var(--searchFontSize);
  padding: var(--searchPadding);
}

.search input[type="search"],
.search input[type="submit"] {
  border-radius: var(--searchInputBorderRadius);
}

.search input[type="search"] {
  background-color: var(--searchInputSearchBackgroundColor);
  color: var(--searchInputSearchColor);
  padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}


.col-lg-12 .login-box {
  position: absolute;
  left: 50%;
  width: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transform: translate(-50%, -50%);
  background: #f60;
  box-sizing: border-box;
  border-radius: 10px;
  top: 52rem;
}

.login-box h2 {
    
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #f60;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f60;
  font-size: 12px;
}

.login-box input {
   
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  
  letter-spacing: 4px
}

.login-box input:hover {
          text-decoration: none;

  background: #f60;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f60,
              0 0 25px #f60,
              0 0 50px #f60,
              0 0 100px #f60;
}

.login-box input span {

  position: absolute;
  display: block;
}

.login-box input span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f60);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box input span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f60);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box input span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f60);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box input span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f60);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
